@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jersey+10+Charted&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
} */

/* HTML: <div class="loader"></div> */

body {
  overflow: visible !important;
}
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background: linear-gradient(
        0deg,
        rgb(0 0 0/50%) 30%,
        #0000 0 70%,
        rgb(0 0 0/100%) 0
      )
      50%/8% 100%,
    linear-gradient(90deg, rgb(0 0 0/25%) 30%, #0000 0 70%, rgb(0 0 0/75%) 0)
      50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}
.loader::after {
  opacity: 0.83;
  transform: rotate(60deg);
}
@keyframes l23 {
  100% {
    transform: rotate(1turn);
  }
}

.custom-scrollbar::-webkit-scrollbar {
  background-color: transparent;

  width: 2px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: white;

  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
  height: 5px;
}
.custom-scrollbar::-webkit-scrollbar-corner {
  background-color: red;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.jersey-10-charted-regular {
  font-family: "Jersey 10 Charted", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bullets {
  opacity: 0.7;
  width: 0.75rem;
  height: 0.75rem;
  /* border-radius: 9999px; */
  opacity: 0.5;
}

.active {
  width: 1rem !important;
  height: 1rem !important;
  opacity: 1 !important;
}
.shimmer-bg {
  background: (to right, fade_out(#fff, 1) 0%, fade_out(#fff, 0.7) 100%);
}

@keyframes inAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes outAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.portrait {
  height: 50vh !important;
  min-width: 100%;
  object-fit: cover;
}

.modal {
  z-index: 999 !important;
}
